<h3>Hospital Management!</h3>
<p>Patient Registeration Form</p>

	<br><br>
	Name : <input type='text' ng-model='patient.patient_name'></input>
	<br><br>
	Symptoms : <textarea rows="5" cols="50" ng-model='patient.symptoms'></textarea>
	<br><br>
	
	<button ng-click="registerPatient()">Register</button>	
	<br>		


<br><br>

<button ng-click="goHome()">Home</button>