<style>
    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #000;
        box-shadow:  0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        width:inherit; /* Or auto */
        padding:0 10px; /* To give a bit of padding on the left and right */
        border-bottom:none;
    }
</style>


<div ng-switch="readDR">



    <fieldset class="scheduler-border">
        <legend class="scheduler-border">
    <h2><span class="label label-primary">Device Registration</span></h2>
            </legend>
    <br>

    <div ng-switch-when="true">

        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Object Id</th>
                <th>Device Id</th>
                <th>Device URI</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Firmware</th>
                <th>Serial</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="drdata in dr_Resdata">
                <td><input type="checkbox" value='{{drdata.object_id}}' ng-model="drdata.Selected"></td>
                <td><span>{{drdata.object_id}}</span></td>
                <td><input type='text' value='{{drdata.device_id}}' ng-model='drdata.device_id'></input></td>
                <td><input type='text' value='{{drdata.device_uri}}' ng-model='drdata.device_uri'></input></td>
                <td><input type='text' value='{{drdata.manufacturer}}' ng-model='drdata.manufacturer'></input></td>
                <td><input type='text' value='{{drdata.model}}' ng-model='drdata.model'></input></td>
                <td><input type='text' value='{{drdata.firmware}}' ng-model='drdata.firmware'></input></td>
                <td><input type='text' value='{{drdata.serial}}' ng-model='drdata.serial'></input></td>
            </tr>
            </tbody>
        </table>
        <br><br>
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-warning col-sm-offset-1" ng-click="clear('devregister')">Back</button>
            <button class="btn btn-primary col-sm-offset-1" ng-click="update('devregister')">Update</button>
            <button class="btn btn-danger col-sm-offset-1" ng-click="delete('devregister')">Delete</button>
        </div>
    </div>
    <div ng-switch-default>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Device ID: </label>

                <div class="col-sm-5">
                    <input ng-model='dr.device_id' class="form-control" placeholder="Enter Device ID">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                    Device URI: </label>

                <div class="col-sm-5">
                    <input ng-model='dr.device_uri' class="form-control" placeholder="Enter Device URI">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    Manufacturer: </label>

                <div class="col-sm-5">
                    <input ng-model='dr.manufacturer' class="form-control" placeholder="Enter Manufacturer">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                    Model: </label>

                <div class="col-sm-5">
                    <input ng-model='dr.model' class="form-control" placeholder="Enter Model">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                    Firmware: </label>

                <div class="col-sm-5">
                    <input ng-model='dr.firmware' class="form-control" placeholder="Enter Firmware">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2"><span class="glyphicon glyphicon-qrcode"
                                                            aria-hidden="true"></span> Serial: </label>

                <div class="col-sm-5">
                    <input ng-model='dr.serial' class="form-control" placeholder="Enter Serial Number">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-warning col-sm-offset-1" ng-click="goHome()">Back</button>
                    <button class="btn btn-success col-sm-offset-1" ng-click="create('devregister')">Create</button>
                    <button class="btn btn-info col-sm-offset-1" ng-click="read('devregister')">View/Modify</button>
                </div>
            </div>
        </form>
    </div>
</div>
</fieldset>