<h3>Device Management!</h3>	
	
	<br><br>
	<button ng-click="discoverDevices()">Discover</button>	
	<br>		

	
	<ul ng-repeat="d in liveDevices">
		<li>{{d.device_id}}</li>
	</ul>

<br><br>

<button ng-click="goHome()">Home</button>