<style>
    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #000;
        box-shadow:  0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        width:inherit; /* Or auto */
        padding:0 10px; /* To give a bit of padding on the left and right */
        border-bottom:none;
    }
</style>

<div ng-switch="readPatient">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">
            <h2><span class="label label-primary">Patients</span></h2>
        </legend>
        <br>
    <div ng-switch-when="true">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Patient ID</th>
                <th>Patient Name</th>
                <th>Symptoms</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="padata in patient_Resdata">
                <td><input type="checkbox" value='{{padata.patient_id}}' ng-model="padata.Selected"></td>
                <td><span>{{padata.patient_id}}</span></td>
                <td><input type='text' value='{{padata.patient_name}}' ng-model='padata.patient_name'></input></td>
                <td><input type='text'value='{{padata.symptoms}}' ng-model='padata.symptoms'></input></td>
            </tr>
            </tbody>
        </table>
        <br><br>

        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-warning col-sm-offset-1" ng-click="clear('patient')">Back</button>
            <button class="btn btn-primary col-sm-offset-1" ng-click="update('patient')">Update</button>
            <button class="btn btn-danger col-sm-offset-1" ng-click="delete('patient')">Delete</button>
        </div>
    </div>
    <div ng-switch-default>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Patient Name: </label>

                <div class="col-sm-5">
                    <input ng-model='patient.patient_name' class="form-control" placeholder="Enter Patient Name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    Symptoms: </label>

                <div class="col-sm-5">
                    <input ng-model='patient.symptoms' class="form-control" placeholder="Enter Symptoms">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-warning col-sm-offset-1" ng-click="goHome()">Back</button>
                    <button class="btn btn-success col-sm-offset-1" ng-click="create('patient')">Create</button>
                    <button class="btn btn-info col-sm-offset-1" ng-click="read('patient')">View/Modify</button>
                </div>
            </div>
        </form>
    </div>
</div>
</fieldset>