<style>
	fieldset.scheduler-border {
		border: 1px groove #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow:  0px 0px 0px 0px #000;
		box-shadow:  0px 0px 0px 0px #000;
	}

	legend.scheduler-border {
		width:inherit; /* Or auto */
		padding:0 10px; /* To give a bit of padding on the left and right */
		border-bottom:none;
	}
</style>
<fieldset class="scheduler-border">
	<legend class="scheduler-border">
		<h2><span class="label label-primary">Read Data</span></h2>
	</legend>
	<br>

	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="control-label col-sm-2"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				Device ID: </label>

			<div class="col-sm-5">
				<select class="form-control" ng-options="d.device_id for d in devices"
						ng-model="device"
						ng-change="getDeviceRecord(device)">
				</select>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-warning col-sm-offset-1" ng-click="goHome()">Back</button>
				<button class="btn btn-success col-sm-offset-1" ng-click="readDeviceData(device)">Read</button>
			</div>
		</div>
	</form>

<div ng-switch="readDeviceDataFlag">
	<span ng-switch-when="true">
		<div class="alert alert-success" role="alert">
		{{deviceData.parameter_name}} : {{deviceData.last_value}} recorded at {{deviceData.updated_at}}
			</div>
	</span>
	<span ng-switch-when="false">
		<div class="alert alert-danger" role="alert">
		{{deviceData.message}}
		</div>
	</span>
</div>
<br><br>
	</fieldset>