<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<body>
<br>
<h3>Client Registration Operations!</h3>
<br><br>
<ul>
<li>
<button type="button" class="btn btn-primary custom" ng-click="register()">Register</button>
</li><br>
<li>
<button type="button" class="btn btn-primary custom" ng-click="update()">Update</button>
</li><br>
<li><button type="button" class="btn btn-primary custom" ng-click="deregister()">Deregister</button>
</li>
</ul>


<div class="panel-footer">
<button type="button" class="btn-lg btn-link custom1" ng-click="goHome()">Home</button></div>
</body>