<h3>Client Registration Operations!</h3>
<br><br>
<button ng-click="register()">Register</button>
<button ng-click="update()">Update</button>
<button ng-click="deregister()">Deregister</button>
<br><br>

<button ng-click="goHome()">Home</button>