<h3>Client BootStrapping Operations!</h3>
<br><br>
<button ng-click="factoryDefaults()">Factory Defaults</button>
<button ng-click="initiateBootstrap()">Initiate Bootstrap</button>
<br><br>

<button ng-click="goHome()">Home</button>