<!DOCTYPE html>
<html ng-app="bootStrapServerApp">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
  <script src="javascripts\script.js"></script>
  <title>Bootstrap server</title>
</head>
<body>

<ng-view></ng-view>

<!-- Home Template-->
<script type="text/ng-template" id="/home">
<h1>DataBase Architecture!</h1>

<button ng-click="getBootstrapServer()">Bootstrap server Database</button>

</script>

<!--Bootstrap Server Template-->
<script type="text/ng-template" id="/bootstrapServer">
<% include partials/bootstrap-server_template %>
</script>

</body>
</html>