<h3>Data Transmission Operations!</h3>
<br><br>
<button ng-click="transmit()">Transmit Data</button>
<button ng-click="stoptransmit()">Stop Transmit</button>
<br><br>

<button ng-click="goHome()">Home</button>