<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<body>
<br>
<h3>Client BootStrapping Operations!</h3>
<br><br>
<ul>
<li>
<button class="btn btn-primary custom" ng-click="factoryDefaults()">Factory Defaults</button>
</li><br>
<li>
<button class="btn btn-primary custom" ng-click="initiateBootstrap()">Initiate Bootstrap</button>
</li>
</ul>
<br><br>

<div class="panel-footer">
<button type="button" class="btn-lg btn-link custom1" ng-click="goHome()">Home</button></div>
</body>